# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.kt text diff=kotlin
*.java text diff=java
*.gradle text diff=java
*.properties text
*.xml text
*.json text
*.md text

# Scripts
*.sh text eol=lf
*.bat text eol=crlf

# Binary files
*.jar binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
*.woff2 binary
